##  QUESTION 1

A chocolate store lists their 3 main types of chocolates: white chocolate, milk chocolate, dark chocolate. However, they wrote the same type of chocolate wth both uppercase and lowercase letters. They want to eliminate these differences in the levels.

1) Copy this vector below containing the listed chocolate categories.

```r 
chocolates <- c("white"  ,"milk", "white", "Dark", "Milk", "White", "dark", "white", "white", "milk")
```

2) Convert the information of chocolate categories into a factor named **choco_factor**.

3) Overwrite all the occurances of the types of chocolates starting with uppercase letters with lowercase versions.

4) Delete the old levels of the categories starting with uppercase letters and see the resulting factor to be like the one below:

```r 
 [1] white milk  white dark  milk  white dark  white white milk 
Levels: dark milk white

```

## SOLUTION 1

In [ ]:
#1
chocolates <- c("white"  ,"milk", "white", "Dark", "Milk", "White", "dark", "white", "white", "milk")

#2
choco_factor <- factor(chocolates)

#3
choco_factor[choco_factor == "White"] <- "white"
choco_factor[choco_factor == "Milk"] <- "milk"
choco_factor[choco_factor == "Dark"] <- "dark"

#4
choco_factor <- droplevels(choco_factor)
choco_factor

##  QUESTION 2

Nisan is an analyst at TempRecords, a company that observes the effects of climate change. The temperature fluctuated a lot in the past year. The average temperatures recorded in each month of the previous year are as follows:

|Month|Average Temperature|
|:--:|:--:|
|January|8.2|
|February|5.4|
|March|6.6|
|April|12.5|
|May|18.2|
|June|21.7|
|July|25.2|
|August|26.0|
|September|14.8|
|October|10.1|
|November|11.5|
|December|7.3|

1) Create two vectors using the data provided in the table with the names **months** and **avg_temp**.


2) Factorize average temperatures by using the **avg_temp** vector and name your factor **temp_factor**. Print the summary. 

Temperatures below 7 degrees should be assigned to **"Low"**, temperatures above 7 degrees and below 18 degrees should be assigned to **"Medium"** and temperatures above 18 degrees should be assigned to **"High"**.

```r
> summary(temp_factor)
   Low Medium   High 
     2      6      4 
```

*Hint: You can use the function ``cut()``.*

3) Assign the names of the months in each category to a list called **which_months** and print it:

```r
> which_months
$Low
[1] "February" "March"   

$Medium
[1] "January"   "April"     "September" "October"   "November"  "December" 

$High
[1] "May"    "June"   "July"   "August"
```

##  SOLUTION 2

In [ ]:
#1
months <- c("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December")
avg_temp <- c(8.2, 5.4, 6.6, 12.5, 18.2, 21.7, 25.2, 26.0, 14.8, 10.1, 11.5, 7.3)

#2
temp_factor <- cut(avg_temp, breaks = c(0 ,7, 18, 35), labels = c("Low", "Medium", "High"), ordered_result = TRUE)
summary(temp_factor)

#3
which_months <- list()
which_months[[1]] <- months[which(temp_factor == "Low")]
which_months[[2]] <- months[which(temp_factor == "Medium")]
which_months[[3]] <- months[which(temp_factor == "High")]
names(which_months) <- c("Low", "Medium", "High")
which_months

## QUESTION 3

1) Create a factor **ex_fac** using the following information about the intensities of the daily exercises done by an individual in a week. 

| days      | intensity |
|-----------|-----------|
| monday    | intense   |
| tuesday   | light     |
| wednesday | none      |
| thursday  | intense   |
| friday    | light     |
| saturday  | none      |
| sunday    | none      |

2) Create a function **weekly_ex** which takes a factor argument **f** that contains the intensity of the daily exercises that a person does in a week. Your function should find the days of the week that the individual works out (so the intensity must be "intense" or "light") and submit those days in a list's first element which has **"well_done"** as a name. Then it should find the days that the individual does not work out (so the intensity must be "none") and submit those in the list's second element that has **"shame"** as a name. Lastly, your function should replace the "none"s in the factor **f** with "light"s and submit the new factor in the last element of the list which has a name of **"next_week"** (remember doing the necessary arrangement in the levels of the factor). 

3) Try your function with **ex_fac**. Output must be as such:
```r
> weekly_ex(ex_fac)

$well_done
[1] "monday"   "tuesday"  "thursday" "friday"  

$shame
[1] "wednesday" "saturday"  "sunday"   

$next_week
[1] intense light   light   intense light   light   light  
Levels: light intense

```

## SOLUTION 3

In [ ]:
#1
ex_fac <- factor(c("intense", "light", "none", "intense", "light", "none", "none"))

#2
weekly_ex <- function(f)
{
  week <- c("monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday")
  well_done <- week[f != "none"]
  shame <- week[f == "none"]
  f[f == "none"] <- "light"
  f <- droplevels(f)
  thelist <- list(well_done = well_done, shame = shame, next_week = f)
  return(thelist)
}

#3
weekly_ex(ex_fac)

## QUESTION 4

Zoom would like to know the demographic of the people using their application for their studies in Turkey. They selected 8 people randomly, whose information is provided below:

|Name|Age|Purpose|
|:--:|:--:|:---:|
|Cemal|55|Entertainment|
|Derya|34|Class|
|Hande|19|Class|
|Mehmet|17|Entertainment|
|Mine|27|Work|
|Furkan|10|Class|
|Helen|13|Class|
|Fatma|63|Work|



1) Vectorize the data in this table with the names **Name**, **Age**, and **Purpose**.


2) Convert the **Age** vector into a factor and name it **Age_Factor**.


3) Convert the **Purpose** vector into a factor and name it **Purpose_Factor**.


4) Zoom wants to combine the students and workers using this app into a single category in order to compare people who are using Zoom professionally or for entertainment. Combine them under the name **Professionally**.


5) Create a data frame using the factors you have created in the previous steps and name it **zoom**. Your data frame should look like this.

```r
> zoom

    Name Age        Purpose
1  Cemal  55  Entertainment
2  Derya  34 Professionally
3  Hande  19 Professionally
4 Mehmet  17  Entertainment
5   Mine  27 Professionally
6 Furkan  10 Professionally
7  Helen  13 Professionally
8  Fatma  63 Professionally
```


6) Use the `summary()` function to show Zoom the general overview of the users.

```r
> summary(zoom)

     Name                Age              Purpose 
 Length:8           10     :1   Entertainment :2  
 Class :character   13     :1   Professionally:6  
 Mode  :character   17     :1                     
                    19     :1                     
                    27     :1                     
                    34     :1                     
                    (Other):2        
```

## SOLUTION 4

In [1]:
#1
Name <- c("Cemal", "Derya", "Hande", "Mehmet", "Mine", "Furkan", "Helen", "Fatma")
Age <- c(55, 34, 19, 17, 27, 10, 13, 63)
Purpose <- c("Entertainment", "Class", "Class","Entertainment", "Work", "Class", "Class", "Work")

#2
Age_Factor <- factor(Age)
Age_Factor

#3
Purpose_Factor <- factor(Purpose)
Purpose_Factor

#4
levels(Purpose_Factor) <- c(levels(Purpose_Factor), "Professionally")
Purpose_Factor[Purpose_Factor == "Work"] <- c("Professionally")
Purpose_Factor[Purpose_Factor == "Class"] <- c("Professionally")
Purpose_Factor <- droplevels(Purpose_Factor)
Purpose_Factor

#5
zoom <- data.frame(Name, Age = Age_Factor, Purpose = Purpose_Factor)
zoom

#6 
summary(zoom)

[1] 55 34 19 17 27 10 13 63
Levels: 10 13 17 19 27 34 55 63

[1] Entertainment Class         Class         Entertainment Work
[6] Class         Class         Work
Levels: Class Entertainment Work

[1] Entertainment  Professionally Professionally Entertainment  Professionally
[6] Professionally Professionally Professionally
Levels: Entertainment Professionally

  Name   Age Purpose
1 Cemal  55  Entertainment
2 Derya  34  Professionally
3 Hande  19  Professionally
4 Mehmet 17  Entertainment
5 Mine   27  Professionally
6 Furkan 10  Professionally
7 Helen  13  Professionally
8 Fatma  63  Professionally

      Name        Age              Purpose
 Cemal  :1   10     :1   Entertainment :2
 Derya  :1   13     :1   Professionally:6
 Fatma  :1   17     :1
 Furkan :1   19     :1
 Hande  :1   27     :1
 Helen  :1   34     :1
 (Other):2   (Other):2